@model p20161_ergasia_MVC.Models.Screening

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Screening</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MoviesName" class="control-label"></label>
                <select asp-for="MoviesName" class ="form-control" asp-items="ViewBag.MoviesName"></select>
            </div>
            <div class="form-group">
                <label asp-for="CinemasName" class="control-label"></label>
                <select asp-for="CinemasName" class ="form-control" asp-items="ViewBag.CinemasName"></select>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="ContentAdminsUsername" class="control-label"></label>
                <select asp-for="ContentAdminsUsername" class ="form-control" asp-items="ViewBag.ContentAdminsUsername"></select>
            </div>*@
            &nbsp;
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" /> |
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

