@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    &nbsp;&nbsp;&nbsp;
    <h2 class="display-4">Welcome to the Cinema Management</h2>
    <p>Please <a asp-area="" asp-controller="Users" asp-action="Login">log in</a> to continue.</p>
   
</div>
